
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lavenderblush;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#drawingGrid {
    margin: auto;
    /* display: grid;
    grid-template-columns: 100 100; */
}

.row {
    display: flex;
    margin: auto;
    justify-content: center;
}

button {
    background-color: none;
    font-size: 20px;
    font-weight: 500;
    height: 25px;
    aspect-ratio: 1/1;
}

input {
    width: 50px;
    height: 25px;
}

.title {
    text-align: center;
    font-family: 'Jersey 15';
    margin: 20px 0;
    font-size: 42px;
    font-weight: 500;
}

canvas {
    border: 1px solid black;
}
